/bin
/maxScn
/mmappedBuffer
/databus2-maxscn
/personclient-checkpoints
/databus2-checkpoints
/bootstrap-checkpoints
/client_checkpoint_directory
/maxscn_directory
/mmapped_directory
/bootstrap_checkpoint_directory
/bootstrap_producer_checkpoint_directory
