
* {
	font-family: Arial, 'Lucida Grande', sans-serif;
	padding: 0;
	margin: 0;
}
body {
	background: #DFDFDF;
	padding: 10px;
	font-size: 13px;
}
.header {
    background: #1F83A9;
	color: white;
	border-bottom: 3px solid #02567A;
	padding: 10px 20px;
}
.footer {
	border-top: 3px solid #02567A;
	background: #EEE;
	color: #999;
	padding: 8px;
}
.footer .links {
    float: right;
}
.footer .links a {
    color: #888;
}
.footer .links a:hover {
    color: #EEE;
    text-decoration: underline;
}

.menu {
    overflow: hidden;
    background: #9BD9F4;
}
.menu ul {
    list-style-type: none;
}
.menu ul li {
    float: left;
    display: inline;
}
.menu ul li a {
    color: black;
    display: block;
    padding: 5px 10px;
    border-right: #2A95C3;
    text-decoration: none;
    font-weight: bold;
}
.menu ul li a:hover {
    background: #2A95C3;
    color: white;
}

.container {
	padding: 10px;
	background: white;
	min-height: 300px;
}

h1 {
	font-size: 25px;
	font-weight: bold;
}
h2 {
    font-size: 16px;
    margin: 5px 0 8px 0;
}
table.relays {
	border: 1px solid #02567A;
    margin-bottom: 5px;
}
table.relays td, table.relays th {
	border: 1px solid #02567A;
    padding: 3px 5px;
}
table.relays th {
    font-weight: bold;
    background: #75bad4;
    color: black;
    text-align: center;
}
table.consumers {
    border: 1px solid #555;
}
table.consumers td, table.consumers th {
    padding: 2px;
    border: 1px solid #555;
}
table.kv {
    border: 0;
}
table.kv td.k {
    color: #1F83A9;
    border: 0;
    padding: 2px;
    padding-right: 10px;
    font-size: 11px;
}
table.kv td.v {
    border: 0;
    padding: 2px;
}
.section {
    margin-bottom: 20px;
}
.metrics-container {
    overflow: hidden;
}
