.unit-pair {
    overflow: hidden;
    margin-right: 10px;
    float:left;
    margin: 0 10px 10px 0;
}
.unit-pair .title {
    font-size: 14px;
    font-weight: bold;
    padding: 3px 10px;
    background: #EEE;
}
.unit-pair .left, .unit-pair .right {
    overflow: none;
    float:left;
}
.unit-pair .unit {
    margin: 5px;
}

.unit {
	margin: 12px;
	width: 270px;
	overflow: hidden;
	float: left;
}
.unit .name {
	padding: 0 8px;
	font-weight: bold;
	font-size: 13px;
}
.unit .plot {
	height: 125px;
	width: 250px;
}
.unit .metrics {
	padding: 0 8px;
	font-size: 13px;
}
.unit .metrics table td.key {
	text-align: right;
	padding-right: 2px;
}
.unit .metrics table td.val {
	font-weight: bold;
	padding-right: 10px;
}

